## Train and  Test splitting in data set

In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("Boston.csv")
dataset.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,House_Price
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [5]:
dataset.shape

(506, 15)

In [6]:
input_data = dataset.iloc[:,:-1] # remove the last one 
output_data = dataset['House_Price']

In [7]:
# for traning and tesing we use sklearn 
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(input_data,output_data,test_size=0.25)

In [9]:
x_train.shape,y_train.shape

((379, 14), (379,))

In [10]:
x_test.shape,y_test.shape

((127, 14), (127,))